.step.app-images
  .choices
    .choice#boxfile(data-id="boxfile")
      img.shadow-icon(data-src="legacy-launch")
      .txt Generate the images for me
    .choice.beta#nbx(data-id="nbx")
      img.shadow-icon(data-src="docker-launch")
      .txt I want to use my own Dockerfiles
  
    .arrow-button
      .txt Next
