.launch-step.choose-provider
  .long-strip
    .hex-icon
      img.shadow-icon(data-src="create-hex")
      .provider-icon
        img.shadow-icon(data-src="digital-ocean")
    .form
      .selector
        .label Provider
        .select#provider
      .selector
        .label Region
        .select#region
      .arrow-btn
        img.shadow-icon(data-src="next-arrow-btn")
//- optgroup
