.launch-step.name-app 
  .namer
    input(type="text" placeholder="If left blank, we'll pick a name")
    .arrow-button.lifecycle#test-name
      .txt Next
    //- .arrow-btn.lifecycle
      img.shadow-icon(data-src="next-arrow-btn")
