.no-provider {max-width:385px; margin:0 auto; text-align: center; font-style:italic; font-size:18px; font-weight: $semibold;
  .btn       {background:#1EB8FF; color:white; font-size:16px; display: inline-block; padding:10px 30px; margin:30px 0 50px; cursor:pointer;
    &:hover  {background:#0B97E6;}
  }
  .blurb     {color:#ABC1D2; line-height: 1.5}
}
