.step-manager      {
  .step-wrapper    { position: relative;
    $easing : cubic-bezier(0.840, 0.005, 0.000, 1.000);

    .steps         { position: absolute; display: flex; @include transition(all, 350ms, $easing);
      .launch-step { width: $stage-width; flex-shrink: 0; opacity:0; @include transition(opacity, 450ms, $easing);
        @import 'name-app';
        @import 'choose-provider';
        @import 'summary';
        &.active   { opacity:1; }
      }
    }
  }
}

&.first            {
  .ui-btn.cancel   { margin-left:auto; }
  .ui-btn.back     { display: none !important; }
}
