table
  each field in authFields
    tr
      td.label=field.label
      td.field(data-key="#{field.key}")
        input
.arrow-button#verify-proceed
  .txt Verify &amp; Proceed

.instructions!=meta.instructions
      
