.launch-step.finalize
  table
    tr
      td.label Account Name
      td.field
        input(placeholder="Optional (For your benefit)")#account-name
    tr
      td.label Default Region
      td.regions-create
        .regions
        .arrow-button.no-arrow.lifecycle#finalize-create
          .txt Finalize / Create

              
