.no-provider
  img.shadow-icon(data-src="no-provider-illo")
  .btn#connect-provider Connect a Cloud Provider Account
  .blurb This is probably your first app. We simply need to connect your nanobox account with your cloud provider. We can then provision servers on your account and deploy your app.
