.app-launch
  .step-manager
    .step-key
      .step-count Step <span id='current-step'>1</span> of <span id='total-steps'>3 : </span>
      .step-title Review And Submit
      .ui-btn.cancel 
        img.shadow-icon(data-src="cancel-x-btn")
    .step-wrapper
      .steps
