<<<<<<< HEAD
@import "../lib/core-styles/styles.scss";
=======
@import "../lib/assets/core-styles/styles";
>>>>>>> 47157ddac9af093d1e8b1f1085049299b8403c61

//
body{margin:0; padding:0; background:#dfdfdf;}

//
.steps-wrapper{width:960px; margin:40px auto 0;}
