@import "../lib/assets/core-styles/styles";

//
body{margin:0; padding:75px 0 0 0 !important;}

//
// .steps-wrapper{width:960px; margin:40px auto 0;}
.steps-wrapper{width:640px; margin:40px auto 0;}
