&.name-app     {margin-top:130px;
  .namer       {display:flex; align-items: center; margin: 0px auto 0; width:500px;
    input      {width:420px; height:50px; border:none; padding-left: 20px; font-size: 17px; color:$blue; font-style:italic; background:white; 
      &:focus  {outline:none; }
    }
    .arrow-button {margin-left:20px; }
  }
  .step-error  {bottom:243%}
}
